.font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/******************* 1st part *************************/
main{
    /* background-color: #cdbded; */
}
header{
    background-image: url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
    margin-bottom: 120px;
    border: none;
}
.year{
    font-size: 32px;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
}
.party{
    font-size: 72px;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
}
.box{
    width: 632px;
    height: 246px;
    padding: 123px 376px 231px 312px;
}
/*************** 2nd part ******************/
.first-heading{
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}
.main-first-part{
    text-align: center;
}
main section small{
    font-size: 24px;
    font-weight: 16px;
    color: #FF0000;
}
.section {
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
}
.ph1{
    margin-top: 48px;
    margin-bottom: 120px;
}
/* *****main 2nd part**** */
.mid-night{
    background-image: url('../images/Vectorrr.png');
     width: 1320px;
    height: 600px;
   margin: 0px auto;
   align-items: center;
    display: flex;
    gap: 40px;
}
.mid-night-single-image{
    padding-top: 70px;
    padding-right: 138px;
}
.mid-heading{
    font-size: 64px;
    font-weight: 600px;
    color: #FFFFFF;
    margin-left: 120px;
    margin-bottom: 24px;
    width: 642px;
    height: 176px;
}
.mid-description{
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mid-join{
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 150px;
    margin-top: 40px;
}
/* ********* 3rd part********* */
.place-data{
    border: #070211 solid 10px;
    background-image: linear-gradient(#f4e4e4,#ffffff);
    margin: 0px auto;
    margin-top: 120px;
    width: 1320px;
    height: 490px;
    border-radius: 16px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 120px;
}
.place-heading-color{
    color: #FF0000;
}
.back-color{
    width: 167px;
    height: 57px;
    color: white;
    background-color: #FF0000;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
.place-dls{
    padding: 100px 385px;
}
main >section>div>h3{
    margin-top: 0px;
    padding-top: 0px;
}
.for-place-margin2{
    margin-bottom: 15px;
}
.for-place-margin3{
    margin-bottom: 15px;
}
.for-place-margin{
    margin-bottom: 64px;
}

/* *********** part 4 **************/
.offer{
    display: flex;
    margin-bottom: 120px;
    width: 1320px;
    height: 463px;
    margin:auto;
    margin-bottom: 120px;
}
.small-title{
    font-size: 24px;
    font-weight: 500px;
    color: #FF0000;
    margin-top: 104px;
    margin-bottom: 16px;
}
.large-title{
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 22px;
}
.offer-description{
    font-size: 20px;
    font-weight: 400px;
    width: 400px;
    height: 128px;
}
 .three-style2{
    border: 15px solid red;
    padding: 35px;
    border-radius: 300px;
    margin-left: 70px;
    margin-right: 118px;
}
.year2{
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-top:112px ;
    margin-right: 290px;
    margin-bottom: 14px;
}
.year-description{
    font-size: 20px;
    width: 276px;
    height: 96px;
}
.offer-3rd-img{
    width: 140px;
    height: 140px;
} */
/* ************ part 5 *************** */
.sale{
    margin: 0px auto;
}
.small-sale{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.sale-main-heading{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
.sale-main-color-rad{
    color: #FF0000;
}
.sale-description{
    font-size: 20px;
    font-weight: 400;
     width: 900px;
    height: 64px;
    margin: auto;
    margin-bottom: 64px;
}
.sale-image{
    display: flex;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat:no-repeat;
    background-position:bottom;
    justify-content: center;
    margin-bottom: 120px;
}
/* ******** part 6************ */
.product{
    height: 1163px;
    width: 1320px;
    margin: auto;
    margin-bottom: 120px;
}
.small-product-heading{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: none;
}
.large-product-heading{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 10px;
    margin-bottom: 22px;
}
.product-details{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
    width: 900px;
    height: 64px;
}
.product-image{
display: flex;
gap: 24px;
}
.image-product-core{
    margin-bottom: 24px;
}
/* *************** part 7 ********************* */
.icon{
width: 1320px;
height: 616px;
background-color: rgb(246, 234, 234);
border-radius: 15px;
margin: auto;
margin-bottom: 120px;
}
.image-icon-for-fix{
    width: 150px;
    height: 150px;
    margin: auto;
}
.icon-image{
    margin-top: 60px;
}
.icon-header{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 22px;
}
.icon-details{
    font-size: 20px;
    font-weight: 400;
    width: 900px;
    height: 64px;
    margin-left: 212px;
    text-align: center;
}
.icon-color-button{
    color: #ffffff;
    background-color: #FF0000;
    font-size: 20px;
    font-weight: 500px;
    border: none;
    /* padding: 10px; */
    padding: 24px 56px;
}
.icon-back-color{
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 24px;
    padding-right: 267px;
    padding-left: 30px;
}
.icon-button{
    text-align: center;
}
/* ********** part 8 footer  */